[
    {
        "scope": "https://api.themoviedb.org:443",
        "method": "GET",
        "path": "/3/movie/335796?api_key=d388ee65da239a3c7592defe1a5ad69c&append_to_response=videos,images",
        "body": "",
        "status": 200,
        "response": "e1504f0120534eaba294eae88d66b60d8dcb6418210b3280c41915a6b14602ae360c3e89ffffd6d2c83b77890a179c0286e7fbfcfcd9bd20d0ecdc6c183729a0470dec089d2a3f0ff495ae3c595959212b9c9cb529cb43f7bf0814a849758bfc07e82b18682e003c418636e0f5852f0b14f04bd8e3f6ddece0de5f7a67f56359b3fbb41dcb7fa2610610910bd024a17a1975afbe7ae9f7ab255509947f40120085c7028264014ab7604001fa90a42e6768096001b88f65ed77be8e776dd7f64ab6881fefea380f6e97e8b2bad5545fd7d064f3450a5a1a2df1f5b1994d41ca073bfc9ccbc89db55245d2ef05d0622650647811b9009699d501[...]
    {
        "scope": "http://127.0.0.1:3001",
        "method": "GET",
        "path": "/getMovie?mid=335796",
        "body": "",
        "status": 200,
        "response": {
            "adult": false,
            "backdrop_path": "/6J2rvqI0JcAbNEwVVzaYWZVcY1u.jpg",
            "belongs_to_collection": {
                "id": 426103,
                "name": "Ouija Collection",
                "poster_path": "/bRrCWB9V3chIphldSQgQBSp5OCp.jpg",
                "backdrop_path": "/m5nPr3cOxqzU68luWfwNngazHnE.jpg"
            },
            "budget": 9000000,
            "genres": [
                {
                    "id": 27,
                    "name": "Horror"
                }
            ],
            "homepage": "http://ouijamovie.com/",
            "id": 335796,
            "imdb_id": "tt4361050",
            "original_language": "en",
            "original_title": "Ouija: Origin of Evil",
            "overview": "In 1965 Los Angeles, a widowed mother and her two daughters add a new stunt to bolster their séance scam business and unwittingly invite authentic evil into their home. When the youngest daughter is overtaken by the merciless spirit, this small family confronts unthinkable fears to save her and send her possessor back to the other side.",
            "popularity": 19.51,
            "poster_path": "/cAZk4y7JZswALX6nTf5KXNjPMUE.jpg",
            "production_companies": [
                {
                    "id": 2481,
                    "logo_path": "/vOQg26GjR0LnkN1Ph9uyog1UuOE.png",
                    "name": "Platinum Dunes",
                    "origin_country": "US"
                },
                {
                    "id": 33,
                    "logo_path": "/8lvHyhjr8oUKOOy2dKXoALWKdp0.png",
                    "name": "Universal Pictures",
                    "origin_country": "US"
                },
                {
                    "id": 57031,
                    "logo_path": "/1ai3zndjxL3BonlOJVS75GjTOuW.png",
                    "name": "Allspark Pictures",
                    "origin_country": "US"
                },
                {
                    "id": 3172,
                    "logo_path": "/kDedjRZwO8uyFhuHamomOhN6fzG.png",
                    "name": "Blumhouse Productions",
                    "origin_country": "US"
                },
                {
                    "id": 2598,
                    "logo_path": "/i42C5gRq7XqlG4S9vkchuJZfrBn.png",
                    "name": "Hasbro",
                    "origin_country": "US"
                }
            ],
            "production_countries": [
                {
                    "iso_3166_1": "US",
                    "name": "United States of America"
                }
            ],
            "release_date": "2016-10-20",
            "revenue": 81705746,
            "runtime": 99,
            "spoken_languages": [
                {
                    "english_name": "English",
                    "iso_639_1": "en",
                    "name": "English"
                }
            ],
            "status": "Released",
            "tagline": "When you talk to the other side, you never know who will be listening.",
            "title": "Ouija: Origin of Evil",
            "video": false,
            "vote_average": 6.121,
            "vote_count": 2260,
            "videos": {
                "results": [
                    {
                        "iso_639_1": "en",
                        "iso_3166_1": "US",
                        "name": "Ouija: Origin of Evil - In Theaters October 21 (TV Spot 4) (HD)",
                        "key": "xGe-06MxlhQ",
                        "published_at": "2016-09-28T18:15:52.000Z",
                        "site": "YouTube",
                        "size": 1080,
                        "type": "Teaser",
                        "official": true,
                        "id": "58f75209c3a368413b00b1c7"
                    },
                    {
                        "iso_639_1": "en",
                        "iso_3166_1": "US",
                        "name": "Ouija: Origin of Evil - Trailer 2 (HD)",
                        "key": "uVXGLbhozK8",
                        "published_at": "2016-09-08T17:01:15.000Z",
                        "site": "YouTube",
                        "size": 1080,
                        "type": "Tr[...]
